@font-face {
  font-display: swap;
  font-family: 'Iosevka Aila';
  font-style:  normal;
  font-weight: 400;
  src: url("../fonts/Iosevka Aile-Regular.woff2") format("woff");
}

@font-face {
  font-display: swap;
  font-family: 'Iosevka Aila';
  font-style:  normal;
  font-weight: 800;
  src: url("../fonts/Iosevka Aile-Bold.woff2") format("woff");
}

@font-face {
  font-display: swap;
  font-family: 'PragmataPro Mono Liga';
  font-style:  normal;
  font-weight: 400;
  src: url("../fonts/PragmataPro Mono Liga-Regular.woff2") format("woff");
}